.header-container {
	font-size:30px;
	text-align:center;
	width:100%;
}


.container-row {
	height:800px;
}
.col-1-style {
	background:black;
	opacity:0.63;
}
.col-1-style-2 {
	background:#F0E4E6;
	opacity:1.0;
}

















.footer-container {
	background:#E8E8E8;
	height:100px;
	padding-top:40px;
	text-align:center;
	width:100%;
}
